@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.sensor-list {
  display: flex;
  flex-wrap: wrap;
}

.sensor-list.two-column li {
  width: calc(50% - 3em);
  height: 35px;
  display: flex;
  align-items: center;
  margin: 1.5em;
  cursor: pointer;
  padding: 1em;
  background: #2b3544;
  position: relative;
  color: white;
  border-radius: 5px;
}

.sensor-list li::before,
.sensor-list li::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  width: 105%;
  transition: all 0.4s;
}

.sensor-list li::before {
  left: 0%;
  height: 130%;
  background: linear-gradient(to right, #021b79, #0575e6);
}

.sensor-list li::after {
  left: -10%;
  height: 120%;
  background: #ffffff56;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
}

.sensor-list li:hover::before {
  transform: translateX(-2.5%);
}

.sensor-list li:hover::after {
  transform: translateX(15%);
}
